@media (max-width: 576px) {
  .header__logo {
    width: 135px;
    height: 35px;
  }

  .header__panel {
    padding: 17px 0;
    flex-direction: row-reverse;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .container {
    width: calc(100vw - 30px);
    margin: 0 auto;
    max-width: 320px;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    border: 1px solid none;
    color: black;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }
}
