@media (max-width: 1024px) {
  .container {
    width: calc(100vw - 100px);
    margin: 0 auto;
    max-width: 1770px;
  }

  .header {
    margin-bottom: 2.5em;
  }
  .header__nav {
    display: none;
  }

  .header__panel {
    display: flex;
    align-items: center;
    padding: 26px 0;
    justify-content: space-between;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-right: 0;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    border: 1px solid none;
    color: black;
    order: -1;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }

  .topBanner {
    margin-bottom: 2em;
  }

  .topBanner__decor {
    padding: 17.4% 8.4%;
    min-height: 420px;
    border-radius: 32px;
    background-image: url(../img/top_banner_1024.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .topBanner__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;

    color: #ffffff;

    margin-bottom: 0.3em;
  }

  .topBanner__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;

    margin-bottom: 3em;
  }

  .aboutUs__title {
    margin-bottom: 22px;
  }

  .aboutUs__descr {
    margin-bottom: 3.7em;
  }

  .aboutUs__blockPreview {
    display: revert;
  }

  .aboutUs__blockPreview .content__left {
    padding-top: 48.1%;
    display: revert;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: auto;
    background-image: url(../img/PhotoWork1024.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .aboutUs__blockPreview .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    width: calc(50% + (16 + 16 * 1.9) * ((100vw - 320px) / 1280));
    margin-right: auto;
  }

  .aboutUs__blockPreview .box__left {
    padding: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: auto;

    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
  }

  .aboutUs__blockPreview .box__1-svg {
    background-image: url(../img/consalt_1024.svg);
    background-repeat: no-repeat;
    background-size: min(30%, 21%);
    background-position: 10% 49%;
  }

  .aboutUs__blockPreview .box__2-svg {
    background-image: url(../img/consalt-2_1024.svg);
    background-repeat: no-repeat;
    background-size: min(30%, 21%);
    background-position: 10% 49%;
  }

  .aboutUs__blockPreview .box__right {
    max-width: inherit;
    min-height: inherit;
    display: inherit;
    padding: 65px;
    border: none;
    border-radius: 32px;
    flex-wrap: wrap;

    border: 1px solid #cacaca;
    border-radius: 32px;
  }

  .aboutUs__blockPreview .left__button-link {
    padding: 17px 35px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    /* width: min(100%, 56%); */
    width: auto;
    text-align: center;
    color: white;
    border: 3px solid #ff9900;
    border-radius: 16px;
  }

  .aboutUs__blockPreview .right__svg {
    display: none;
  }

  .box__right .details {
    width: 58%;
    /* width: calc(60% + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    width: calc(64% + (16 + 16 * 0.7) * ((100vw - (320px * 6)) / 1280)); */
    margin-left: 32%;
  }

  .aboutUs__blockPreview .right__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    padding-top: 0;
    margin-bottom: 8px;
    width: calc(96% + (16 + 16 * 6) * ((100vw - (320px)) / 1280));
  }

  .aboutUs__blockPreview .right__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #000000;

    width: calc(62% + (16 + 16 * 22) * ((100vw - (320px)) / 1280));
    max-width: inherit;
  }

  .aboutUs__blockPreview .box__right:not(:last-child) {
    margin-bottom: 30px;
  }

  .aboutUs {
    margin-bottom: 4.9em;
  }

  .working__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
    margin-bottom: 1em;
  }

  .working__list {
    display: flex;
    justify-content: start;
    gap: 86px;
    margin-bottom: 3.2em;
    /* width: min(440px, 96%); */
  }

  .working__list .working__item:not(:last-child) {
    margin-right: 0;
  }

  .working__list .working__button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    /* font-size: calc(14px + (3) * ((100vw - 320px) / 1280)); */
    /* font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280)); */
  }

  .content__left .left__decor {
    background-image: url(../img/how_work_1024.png);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-size: 100%;

    border-radius: 32px;
    padding: 218px;
    /* width: 437px;
    min-height: 689px; */
  }

  .working__specs {
    background-image: none;

    /* background-size: calc(60% + (16 + 16 * 0.7) * ((105vw - 320px) / 1280)); */
  }

  .working__specs .content__left {
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
  }

  .content__left .left__details {
    width: 49%;
  }

  .working__specs .left__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #000000;

    margin-bottom: 10px;
  }

  .working__specs .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;

    width: 100%;
    max-width: auto;
    margin-bottom: 1.4em;
  }

  /* .working__specs:before {
    content: "";
    position: absolute;
    left: calc(100% + 35px);
    top: 77px;
    width: calc(100% + 5px);
    height: calc(100% - 77px);
    border-radius: 32px;
    background-image: url(../img/working.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
} */

  .working__specs .button__link {
    margin-right: 0;
    padding: 20px 38px;
    border-radius: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .working__specs .button__contract-link {
    padding: 20px 38px;
    border-radius: 16px;
    border: 1px solid #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .working__specs .working__button > a:not(:last-child) {
    margin-right: 32px;
  }

  .working__specs .working__button > a {
    /* width: min(100%, 56%); */
    width: auto;
  }

  /*
  element.style {
    width: 45px;
    height: 45px;
    font-size: 25px;
    line-height: 53px;
} */

  .working {
    margin-bottom: 5em;
  }

  .FAQ__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: calc(33px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 59px;

    color: #000000;

    margin-bottom: 31px;
  }

  .FAQ__list .FAQ__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: start;
    color: #000000;
    padding: 30px 0;
    margin-bottom: -1px;

    background-image: url(../img/svg_+_768.svg);
    background-repeat: no-repeat;
    background-size: calc(3.7% + (16 + 16 * 0.7) * ((105vw - 320px) / 1280));
    background-position: right;
  }

  .FAQ__list .FAQ__link > svg {
    display: none;
  }

  .FAQ__list {
    display: inherit;
  }
  .FAQ__list .FAQ__question {
    display: inherit;
  }

  .FAQ__list .question-1 {
    padding: 39px 0;
  }

  .FAQ__list .question-3 {
    padding: 39px 0;
  }

  .FAQ__list .question-5 {
    padding: 39px 0;
  }

  .FAQ__link .link__text {
    /* width: min(380px, 85%); */
    width: calc(69% + (16 * 16) * ((100vw - 320px) / 1280));
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;

    font-size: min(240px, 143%);
    line-height: 32px;
    /* identical to box height, or 160% */

    color: #000000;
  }

  .FAQ {
    margin-bottom: 5em;
  }

  .footer__right .right__descr {
    display: none;
  }
  .footer__left .footer__nav {
    display: flex;
    margin-bottom: 5.6em;
  }

  .footer {
    display: inherit;
    padding: 0;
    background-color: black;
  }

  .footer__container {
    display: inherit;
  }
  .footer__left {
    min-height: 0;
    margin-right: 14.4%;
    align-self: auto;
    align-items: flex-start;
  }

  .footer__center .center__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;

    line-height: 59px;
    /* identical to box height */

    color: #cacaca;
    font-size: calc(23px + (15 + 16 * 1.9) * ((100vw - 320px) / 1280));
    margin-bottom: 24px;
  }
  .footer__left .footer__social li:not(:last-child) {
    margin-right: 25px;
  }

  .footer__social .footer__icon a {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 1px;
    font-weight: 600;
    border-radius: 50%;

    background: #666666;
    border: none !important;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: normal;
  }

  .footer__social .footer__icon .vk:before {
    font-family: FontAwesome !important;
    content: "\f263";
    color: black;
  }

  .footer__social .footer__icon .ok:before {
    font-family: FontAwesome !important;
    content: "\f189";
    color: black;
  }

  .footer__social li a span {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .footer__logo {
    display: flex;
    width: 223px;
    height: inherit;
    margin-bottom: 20px;
  }

  .footer__left .nav__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #cacaca;
  }

  footer .form input {
    padding: 14px 25px;
    border-radius: 16px;
    border: none;
    /* width: min(92%, 541px); */
    width: 100%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    color: #cacaca;

    background: #414141;
  }

  footer .form .element__comment {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    color: #cacaca;

    /* width: min(92%, 541px); */
    width: 100%;

    min-height: 149px;
    padding: 14px 25px;
    margin-bottom: 1.7em;
  }
  input:not(:last-child) {
    margin-bottom: 1.6em;
  }

  .footer__center {
    margin-right: 0;
    width: 58.5%;
  }

  footer .form__button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  footer .button__form {
    padding: 18px 38px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;

    margin-right: 19px;
    width: auto;
    border-radius: 16px;
    margin-bottom: 16px;
    word-break: normal;

    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }

  footer .button__agreement .agreement__text {
    /* width: 261px; */
    width: auto;
  }

  .button__agreement .agreement__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
    margin-left: 4px;
    padding-top: 2px;
  }

  footer .form__button .button__agreement {
    cursor: inherit;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 16px;

  }

  .footer__right {
    margin-top: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding-top: 52px;
    padding-bottom: 0;
  }

  footer .form {
    display: inherit;
    flex-direction: column;
    margin-bottom: 3.2em;
    padding-bottom: 0;
    border-bottom: none;
    width: auto;
    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }
}

@media (min-width: 768px) and (max-width: 924px) {
  .content__left .left__decor {
    display: none;
  }
  .working__specs .content__left {
    padding-top: 48.6%;
    display: inherit;
  }

  .content__left .left__details {
    width: 100%;
  }

  .working__specs {
    background-image: url(../img/how_work_768.png);
    background-position: center 4.5em;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100vw - 100px);
    margin: 0 auto;
    max-width: 1770px;
  }

  .header {
    border-radius: 0px 0px 18px 18px;
    margin-bottom: 2.4em;
  }

  .header__search {
    display: flex;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-right: 0;
  }

  .header__panel {
    padding: 11px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .topBanner {
    margin-bottom: 2.3em;
  }

  .topBanner__decor {
    padding: 24% 6%;
    display: block;
    min-height: auto;
    width: auto;
    border-radius: 16px;
    background-image: url(../img/top_banner_768.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .topBanner__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: calc(30px + (57) * ((100vw - 320px) / 1280));
    line-height: 61px;

    margin-bottom: 18px;
    color: #ffffff;
  }

  .topBanner__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: calc(11px + (4 * 5) * ((100vw - 320px) / 1280));
    line-height: 22px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 3.2em;
  }

  .topBanner__btn {
    word-break: normal;
    width: auto;
    /* letter-spacing: .5px; */
    padding: 6.7% 7%;
    border-radius: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: calc(10px + (3.2) * ((100vw - 320px) / 113));
    line-height: 0;
    color: #ffffff;
  }

  .aboutUs__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
    margin-bottom: 0.4em;
  }

  .aboutUs__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    color: #333333;

    width: 100%;

    margin-bottom: 3.4em;
  }

  .aboutUs__blockPreview {
    display: revert;
  }

  .aboutUs__blockPreview .content__left {
    padding-top: 68%;
    display: revert;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: auto;
    background-image: url(../img/PhotoWork768.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .aboutUs__blockPreview .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    width: calc(60% + (16 + 16 * 1.9) * ((100vw - 320px) / 1280));
    margin-right: 44.406px;
  }

  .aboutUs__blockPreview .box__left {
    padding: 34px 40px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: auto;

    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
  }

  .aboutUs__blockPreview .box__1-svg {
    background-image: url(../img/consalt_768.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 7% 48%;
  }

  .aboutUs__blockPreview .box__2-svg {
    background-image: url(../img/consalt-2_768.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 7% 48%;
  }

  .aboutUs__blockPreview .box__right {
    max-width: inherit;
    min-height: inherit;
    display: inherit;
    padding: 34px 34px 34px 169px;
    border: none;
    border-radius: 34px;
    flex-wrap: wrap;

    border: 1px solid #cacaca;
    border-radius: 32px;
  }

  .aboutUs__blockPreview .left__button-link {
    padding: 17px 35px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    /* width: min(100%, 56%); */
    width: auto;
    text-align: center;
    color: white;
    border: 3px solid #ff9900;
    border-radius: 16px;
  }

  .aboutUs__blockPreview .right__svg {
    display: none;
  }

  .box__right .details {
    width: 100%;
    margin-left: 0;
  }

  .aboutUs__blockPreview .right__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    padding-top: 0;
    margin-bottom: 8px;
    width: 100%;
    /* width: calc(70% + (16 + 16 * 25) * ((100vw - 320px) / 1280)); */
  }

  .aboutUs__blockPreview .right__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    color: #000000;
    width: 100%;
    /* width: calc(70% + (16 + 16 * 17) * ((100vw - 320px) / 1280)); */
    max-width: inherit;
  }

  .aboutUs__blockPreview .box__right:not(:last-child) {
    margin-bottom: 30px;
  }

  .aboutUs {
    margin-bottom: 5.1em;
  }

  .working__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
    margin-bottom: 1em;
  }

  .working__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    /* width: min(440px, 96%); */
  }

  .working__list .working__item:not(:last-child) {
    margin-right: 0;
  }

  .working__list .working__button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    /* font-size: calc(14px + (3) * ((100vw - 320px) / 1280)); */
    /* font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280)); */
  }

  .content__left .left__details {
    width: 100%;
  }

  .working__specs {
    background-image: url(../img/how_work_768.png);
    background-position: center 4.5em;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .working__specs .content__left {
    padding-top: 48.6%;
    display: inherit;
  }

  .working__specs .left__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    /* font-size: calc(18px + (14) * ((100vw - 220px) / 1280)); */
    line-height: 32px;
    color: #000000;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .working__specs .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    /* font-size: calc(9px + (16) * ((100vw - 204px) / 1280)); */
    font-size: 16px;

    line-height: 32px;

    color: #000000;

    width: 100%;

    margin-bottom: 1.4em;
  }

  /* .working__specs:before {
    content: "";
    position: absolute;
    left: calc(100% + 35px);
    top: 77px;
    width: calc(100% + 5px);
    height: calc(100% - 77px);
    border-radius: 32px;
    background-image: url(../img/working.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
} */

  .working__specs .button__link {
    margin-right: 0;
    padding: 20px 38px;
    border-radius: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .working__specs .button__contract-link {
    padding: 20px 38px;
    border-radius: 16px;
    border: 1px solid #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .working__specs .working__button > a:not(:last-child) {
    margin-right: 32px;
  }

  .working__specs .working__button > a {
    /* width: min(100%, 56%); */
    width: auto;
  }

  /*
  element.style {
    width: 45px;
    height: 45px;
    font-size: 25px;
    line-height: 53px;
} */

  .working {
    margin-bottom: 3.1em;
  }

  .FAQ__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: calc(32px + (16 + 16 * 1.9) * ((100vw - 320px) / 1280));
    line-height: 59px;

    color: #000000;

    margin-bottom: 0.6em;
  }

  .FAQ__list .FAQ__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: start;
    color: #000000;
    padding: 30px 0;
    margin-bottom: -1px;

    background-image: url(../img/svg_+_768.svg);
    background-repeat: no-repeat;
    background-size: calc(6% + (16 + 16 * 0.7) * ((105vw - 320px) / 1280));
    background-position: right;
  }

  .FAQ__list .FAQ__link > svg {
    display: none;
  }

  .FAQ__list {
    display: inherit;
  }
  .FAQ__list .FAQ__question {
    display: inherit;
  }

  .FAQ__list .question-1 {
    padding: 39px 0;
  }

  .FAQ__link .link__text {
    /* width: min(380px, 85%); */
    width: calc(72% + (16 * 16) * ((100vw - 320px) / 1280));
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;

    font-size: min(240px, 143%);
    line-height: 32px;
    /* identical to box height, or 160% */

    color: #000000;
  }

  .FAQ {
    margin-bottom: 7em;
  }

  .footer__right .right__descr,
  .footer__left .footer__nav {
    display: none;
  }

  .footer {
    display: inherit;
    padding: 0;
    background-color: black;
  }

  .footer__container {
    display: inherit;
  }
  .footer__left {
    min-height: 0;
    margin-right: 0;
    align-self: auto;
    align-items: flex-start;
  }

  .footer__center .center__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    color: #cacaca;
    font-size: calc(32px + (16 + 16 * 1.9) * ((100vw - 320px) / 1280));
    margin-bottom: 24px;
  }
  .footer__left .footer__social li:not(:last-child) {
    margin-right: 25px;
  }

  .footer__social .footer__icon a {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 1px;
    font-weight: 600;
    border-radius: 50%;

    background: #666666;
    border: none !important;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: normal;
  }

  .footer__social .footer__icon .vk:before {
    font-family: FontAwesome !important;
    content: "\f263";
    color: black;
  }

  .footer__social .footer__icon .ok:before {
    font-family: FontAwesome !important;
    content: "\f189";
    color: black;
  }

  .footer__social li a span {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .footer__logo {
    display: inherit;
    width: inherit;
    height: inherit;
    margin-bottom: 16px;
  }

  footer .form input {
    padding: 14px 25px;
    border-radius: 16px;
    border: none;
    width: min(92%, 541px);

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    color: #cacaca;

    background: #414141;
  }

  footer .form .element__comment {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    color: #cacaca;

    width: min(92%, 541px);
    min-height: 149px;
    padding: 14px 25px;
    margin-bottom: 33px;
  }
  input:not(:last-child) {
    margin-bottom: 1.6em;
  }

  .footer__center {
    margin-right: 0;
    width: 100%;
  }

  footer .form__button {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  footer .button__form {
    padding: 18px 38px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;

    margin-right: 19px;
    width: min(51%, 241px);
    border-radius: 16px;
    margin-bottom: 0;
    word-break: normal;

    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }

  footer .button__agreement .agreement__text {
    width: 261px;
  }

  .button__agreement .agreement__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
    margin-left: 4px;
    padding-top: 2px;
  }

  footer .form__button .button__agreement {
    cursor: inherit;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
    margin-left: 0;
    margin-right: 0;
  }

  .footer__right {
    margin-top: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  footer .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2em;
    padding-bottom: 0;
    border-bottom: none;
    width: auto;
    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }

  .content__left .left__decor {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 720px) {
  .working__specs {
    background-image: url(../img/how_work_768.png);
    background-position: center 3em;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .content__left .left__decor {
    display: none;
    background-image: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: calc(100vw - 30px);
    margin: 0 auto;
    max-width: 1770px;
  }

  .content__left .left__decor {
    display: none;
    background-image: none;
  }

  .header {
    border-radius: 0px 0px 18px 18px;
    margin-bottom: 1.9em;
  }

  .header__search {
    display: flex;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin-right: 0;
  }

  .header__panel {
    padding: 17px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .topBanner {
    margin-bottom: 3.7em;
  }

  .topBanner__decor {
    padding: 60px 20px;
    min-height: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-radius: 16px;

    background-image: url(../img/top_banner_320.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .topBanner__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 6px;
    max-width: 247px;
  }

  .topBanner__descr {
    width: auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .topBanner__btn {
    width: min(65%, 216px);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 8px;
  }

  .aboutUs__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    margin-bottom: 0.8em;
  }

  .aboutUs__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    width: 100%;
    color: #000000;
    margin-bottom: 1.1em;
  }

  .aboutUs__blockPreview {
    display: revert;
  }

  .aboutUs__blockPreview .content__left {
    padding-top: 72%;
    display: revert;
    align-items: flex-start;
    width: 100%;
    min-height: 200px;
    background-image: url(../img/PhotoWork320.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .aboutUs__blockPreview .box__left {
    padding: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: auto;
    background: none;
    border-radius: 0;
    flex-direction: column;
  }

  .aboutUs__blockPreview .box__right {
    max-width: inherit;
    min-height: inherit;
    display: inherit;
    padding: 0;
    border: none;
    border-radius: 32px;
    flex-wrap: wrap;
  }

  .aboutUs__blockPreview .box__1-svg {
    background-image: url(../img/consalt_320.svg);
    background-repeat: no-repeat;
    background-size: min(22%, 100%);
    background-position: inherit;
  }

  .aboutUs__blockPreview .box__2-svg {
    background-image: url(../img/consalt-2_320.svg);
    background-repeat: no-repeat;
    background-size: min(22%, 100%);
    background-position: inherit;
  }

  .aboutUs__blockPreview .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;

    width: 100%;
    margin-bottom: 0.8em;
  }

  .aboutUs__blockPreview .left__button-link {
    padding: 8px 42px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: auto;
    width: min(100%, 56%);

    text-align: center;
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 8px;
  }

  .aboutUs__blockPreview .right__svg {
    display: none;
  }

  .aboutUs__blockPreview .right__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    /* padding-top: 20%; */
    padding-top: 20.8%;

    margin-bottom: 0.3em;
    /* margin-bottom: 6px; */

    width: 100%;
    color: #000000;
  }

  .aboutUs__blockPreview .right__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    width: calc(280px + (16 + 16 * 55) * ((100vw - 320px) / 1280));
    /* or 200% */

    color: #000000;
  }

  .aboutUs__blockPreview .box__right:not(:last-child) {
    margin-bottom: 30px;
  }

  .aboutUs {
    margin-bottom: 3.8em;
  }

  .working__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    margin-bottom: 0.9em;
  }

  .working__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    gap: inherit;
    /* width: min(440px, 96%); */
  }

  .working__list .working__item:not(:last-child) {
    margin-right: 0;
  }

  .working__list .working__button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* font-size: calc(14px + (3) * ((100vw - 320px) / 1280)); */
    /* font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280)); */
    line-height: 17px;
    /* identical to box height */

    color: black;
  }

  .working__specs {
    background-image: url(../img/how_work_320.png);
    background-position: center 2em;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .working__specs .content__left {
    padding-top: 49%;
  }

  .working__specs .left__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    color: #000000;
    margin-bottom: 8px;
  }

  .working__specs .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    width: 100%;
    color: #000000;
    margin-bottom: 1.7em;
  }

  /* .working__specs:before {
    content: "";
    position: absolute;
    left: calc(100% + 35px);
    top: 77px;
    width: calc(100% + 5px);
    height: calc(100% - 77px);
    border-radius: 32px;
    background-image: url(../img/working.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
} */

  .working__specs .button__link {
    margin-right: 0;
    padding: 12px 44px;
    border-radius: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .working__specs .button__contract-link {
    padding: 12px 32px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .working__specs .working__button > a:not(:last-child) {
    margin-right: 10px;
  }

  .working__specs .working__button > a {
    width: min(100%, 56%);
  }

  /*
  element.style {
    width: 45px;
    height: 45px;
    font-size: 25px;
    line-height: 53px;
} */

  .working {
    margin-bottom: 3.7em;
  }

  .FAQ__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    margin-bottom: 0.7em;
  }

  .FAQ__list .FAQ__link {
    display: initial;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: start;
    color: #000000;
    padding: 30px 0;
    margin-bottom: -1px;

    background-image: url(../img/svg_+_320.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
  }

  .FAQ__list .FAQ__link > svg {
    display: none;
  }

  .FAQ__list {
    display: inherit;
  }
  .FAQ__list .FAQ__question {
    display: inherit;
  }

  .FAQ__link .link__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #000000;
    width: min(380px, 85%);
  }

  .FAQ {
    margin-bottom: 3.7em;
  }

  .footer__right .right__descr,
  .footer__left .footer__nav {
    display: none;
  }

  .footer {
    display: inherit;
    padding: 0;
    background-color: black;
  }

  .footer__container {
    display: inherit;
  }
  .footer__left {
    min-height: 0;
    margin-right: 0;
    align-self: center;
    align-items: center;
  }

  .footer__center .center__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: calc(24px + (16 + 16 * 1.5) * ((100vw - 320px) / 1280));
    line-height: 29px;

    color: #cacaca;

    margin-bottom: 20px;
  }
  .footer__left .footer__social li:not(:last-child) {
    margin-right: 16px;
  }

  .footer__social .footer__icon a {
    width: 40px;
    height: 40px;
    font-size: 27px;
    line-height: 1px;
    font-weight: 600;
    border-radius: 50%;

    background: #666666;
    border: none !important;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: normal;
  }

  .footer__social .footer__icon .vk:before {
    font-family: FontAwesome !important;
    content: "\f263";
    color: black;
  }

  .footer__social .footer__icon .ok:before {
    font-family: FontAwesome !important;
    content: "\f189";
    color: black;
  }

  .footer__social li a span {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .footer__logo {
    display: flex;
    width: 131px;
    height: 42px;
    margin-bottom: 15px;
  }

  footer .form input {
    padding: 14px 20px;
    border-radius: 16px;
    border: none;
    width: 100%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;

    background: #414141;
    color: #cacaca;
  }

  footer .form .element__comment {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    width: 100%;
    min-height: 149px;
    padding: 14px 20px;
    margin-bottom: 26px;
  }
  input:not(:last-child) {
    margin-bottom: 1.8em;
  }

  .footer__center {
    margin-right: 0;
    width: 100%;
  }

  footer .form__button {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer .button__form {
    padding: 12px 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    line-height: 15px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 12px;
    word-break: break-word;

    margin-right: 0;
    width: min(64%, 290px);

    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }

  footer .button__agreement .agreement__text {
    width: 261px;
  }

  footer .form__button .button__agreement {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
    margin-left: 0;
    margin-right: 0;
  }

  .footer__right {
    margin-top: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 33px;
    padding-bottom: 32px;
  }

  footer .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding-bottom: 14px;
    border-bottom: 1px solid #414141;
    width: auto;
    /* width: calc(100% + (16 + 16 * 81) * ((100vw - 320px) / 1280)); */
  }
}
