@media (max-width: 576px) {
  .header {
    border-radius: 0px 0px 18px 18px;
    margin-bottom: 1.9em;
  }

  .header__search {
    display: flex;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin-right: 0;
  }

  .header__panel {
    padding: 17px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .topBanner {
    margin-bottom: 3.7em;
  }

  .topBanner__decor {
    border-radius: 16px;
    padding: 60px 20px;
    min-height: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-radius: 16px;

    background-image: url(../img/top_banner_320.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .topBanner__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 6px;
    max-width: 247px;
  }

  .topBanner__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .topBanner__btn {
    width: min(65%, 65%);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 13px 28px;
    border-radius: 16px;
  }

  .aboutUs__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    margin-bottom: 0.8em;
  }

  .aboutUs__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    width: 100%;
    color: #000000;
    margin-bottom: 1.1em;
  }

  .aboutUs__blockPreview {
    display: revert;
  }

  .aboutUs__blockPreview .content__left {
    padding-top: 72%;
    display: revert;
    align-items: flex-start;
    width: 100%;
    min-height: 200px;
    background-image: url(../img/PhotoWork320.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: 100%;
    margin-right: 0;
    margin-bottom: 3em;
  }

  .aboutUs__blockPreview .box__left {
    padding: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: auto;
    background: none;
    border-radius: 0;
    flex-direction: column;
  }

  .aboutUs__blockPreview .box__right {
    max-width: 872px;
    min-height: 165px;
    display: flex;
    padding: 0;
    border: 1px solid #cacaca;
    border-radius: 32px;
    flex-wrap: wrap;
  }

  .aboutUs__blockPreview .left__descr {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 1.2em;
  }

  .aboutUs__blockPreview .left__button-link {
    padding: 8px 42px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: auto;
    width: min(100%, 56%);

    text-align: center;
    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 8px;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .container {
    width: calc(100vw - 30px);
    margin: 0 auto;
    max-width: 1770px;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    border: 1px solid none;
    color: black;
    order: -1;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 20px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 20px;
  }
}
