/* Avtor: Shapovalov V B */
/* Учебный проект */
/* https://codepen.io/davidgilbertson/pen/aBpJzO */
/* hotels css start */
/* global start *********************************************************/
/* Шрифты для lionic.com *********************************************************/
/* document.body.contentEditable = true */
/* https://jakearchibald.github.io/svgomg */
/* https://realfavicongenerator.net/ */
/* https://codepen.io/arman_bag/pen/ZdXRqz */
/* https://htmlweb.ru/html/form/form_input_pattern.php
https://newqos.com/zametki-yuzera/42-maska-vvoda-nomera-telefona-na-chistom-js */
/* https://ru.stackoverflow.com/questions/859518/jquery-validator-%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0-%D0%BD%D0%B0-email-%D0%B8%D0%BB%D0%B8-%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD%D0%B0-%D0%B2-%D0%BE%D0%B4%D0%BD%D0%BE%D0%BC-%D0%BF%D0%BE%D0%BB%D0%B5-input */




/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff"),
    url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
    url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-BoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
    url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
    url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-LightItalic.woff") format("woff"),
    url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
    url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
} */

#toTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 30px;
  right: -40px;
  width: 48px;
  height: 48px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: var(--color-blue-bold);
  border-radius: 30px;
  background: var(--color-blue-bold);

  opacity: 0;
  visibility: hidden;
  transition: var(--transition-normal);
}

#toTop:hover {
  background: var(--color-blue-regular);
}

#toTop:active {
  background: var(--color-blue-light);
}

#toTop svg {
  position: relative;
  top: 13px;
  right: 0px;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop:hover svg {
  cursor: pointer;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop.show {
  opacity: 85%;
  visibility: visible;
  right: calc(2%);
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-white-light);
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus-visible {
  outline: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  padding: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1770px;
  padding: 0 15px;
  margin: 0 auto;

}

.word-break {
  word-break: break-all;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

:root {
  --gap: 30px;
  --gap-form: 17px;

  /* color */

  --color-white-light: #ffffff;
  --color-white-medium: #dadada;
  --color-white-regular: #e4e4e4;

  --color-dark-light: #c4c4c4;
  --color-dark-regular: #787878;
  --color-dark-medium: #1c1c1c;
  --color-dark-bold: #000000;

  --color-blue-light: #71a7e2;
  --color-blue-regular: #3172b9;
  --color-blue-bold: #0e3b6c;

  /* transition */

  --transition-normal: all 0.3s ease-in-out;
  --transition-faster-eio: all 0.1s ease-in-out;
  --transition-faster: all 0.3s linear;
  --transition-valid: all 0.15s ease-in-out;

  /* header */

  --header-nav__item-margin-righ: 52px;
  --footer-nav__item-margin-righ: 28px;
  --header__btn-margin-righ: 56px;

  /* btn */

  --header__btn-padding: 15px 35px;
  --topBanner__btn-padding: 19px 58px;
  --button__form-padding: 20px 67px 20px 67px;

  --btn-border-radius-v2: 50px;
  --btn-border-radius: 4px;

  /* services */
  --services__item-padding: 60px 30px 60px 30px;
}

/* ************************* */


section,
address {
  padding-top: 10%;
  margin-top: -10%;
}

