/* Avtor: Shapovalov V B */
/* Учебный проект */
/* https://codepen.io/davidgilbertson/pen/aBpJzO */
/* hotels css start */
/* global start *********************************************************/
/* Шрифты для lionic.com *********************************************************/
/* document.body.contentEditable = true */
/* https://jakearchibald.github.io/svgomg */
/* https://realfavicongenerator.net/ */
/* https://codepen.io/arman_bag/pen/ZdXRqz */
/* https://htmlweb.ru/html/form/form_input_pattern.php
https://newqos.com/zametki-yuzera/42-maska-vvoda-nomera-telefona-na-chistom-js */
/* https://ru.stackoverflow.com/questions/859518/jquery-validator-%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0-%D0%BD%D0%B0-email-%D0%B8%D0%BB%D0%B8-%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD%D0%B0-%D0%B2-%D0%BE%D0%B4%D0%BD%D0%BE%D0%BC-%D0%BF%D0%BE%D0%BB%D0%B5-input */

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("/fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("/fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-MediumItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-MediumItalic.woff") format("woff"),
    url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("/fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Italic.woff2") format("woff2"),
    url("/fonts/Montserrat-Italic.woff") format("woff"),
    url("/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("/fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-ThinItalic.woff") format("woff"),
    url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Light.woff2") format("woff2"),
    url("/fonts/Montserrat-Light.woff") format("woff"),
    url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Black.woff2") format("woff2"),
    url("/fonts/Montserrat-Black.woff") format("woff"),
    url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff"),
    url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("/fonts/Montserrat-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-ExtraLightItalic.woff") format("woff"),
    url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("/fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-BlackItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-BlackItalic.woff") format("woff"),
    url("/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
    url("/fonts/Montserrat-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
    url("/fonts/Montserrat-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
    url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("/fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("/fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-BoldItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-BoldItalic.woff") format("woff"),
    url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("/fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("/fonts/Montserrat-LightItalic.woff") format("woff"),
    url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("/fonts/Montserrat-Thin.woff") format("woff"),
    url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

#toTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 30px;
  right: -40px;
  width: 48px;
  height: 48px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: var(--color-blue-bold);
  border-radius: 30px;
  background: var(--color-blue-bold);

  opacity: 0;
  visibility: hidden;
  transition: var(--transition-normal);
}

#toTop:hover {
  background: var(--color-blue-regular);
}

#toTop:active {
  background: var(--color-blue-light);
}

#toTop svg {
  position: relative;
  top: 13px;
  right: 0px;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop:hover svg {
  cursor: pointer;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop.show {
  opacity: 85%;
  visibility: visible;
  right: calc(2%);
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Montserrat", "Open Sans", "Segoe UI", Verdana, sans-serif;
  background-color: var(--color-white-light);
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus-visible {
  outline: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  padding: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: calc(100vw - 150px);
  margin: 0 auto;
  max-width: 1770px;
}

.word-break {
  word-break: break-word;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

:root {
  --gap: 30px;
  --gap-form: 17px;

  /* color */

  --color-white-light: #ffffff;
  --color-white-medium: #dadada;
  --color-white-regular: #e4e4e4;

  --color-dark-light: #c4c4c4;
  --color-dark-regular: #787878;
  --color-dark-medium: #1c1c1c;
  --color-dark-bold: #000000;

  --color-blue-light: #71a7e2;
  --color-blue-regular: #3172b9;
  --color-blue-bold: #0e3b6c;

  /* transition */

  --transition-normal: all 0.3s ease-in-out;
  --transition-faster-eio: all 0.1s ease-in-out;
  --transition-faster: all 0.3s linear;
  --transition-valid: all 0.15s ease-in-out;

  /* header */

  --header-nav__item-margin-righ: 52px;
  --footer-nav__item-margin-righ: 28px;
  --header__btn-margin-righ: 56px;

  /* btn */

  --header__btn-padding: 15px 35px;
  --topBanner__btn-padding: 19px 58px;
  --button__form-padding: 20px 67px 20px 67px;

  --btn-border-radius-v2: 50px;
  --btn-border-radius: 4px;

  /* services */
  --services__item-padding: 60px 30px 60px 30px;
}

/* ************************* */

/* section,
address {
  padding-top: 10%;
  margin-top: -10%;
} */

/* document.body.contentEditable = true */

section {
  margin-bottom: 2.6%;
}

.header {
  background-color: white;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.6%;
}

.header__logo {
  margin-right: auto;
}

.header__panel {
  display: flex;
  align-items: center;
  padding: 14px 0 14px 0px;
}

.header__panel .header__nav {
  margin-right: 14.7%;
}

.header__panel .nav__list {
  display: flex;
}

.header__panel .nav__title:not(:last-child) {
  margin-right: 85px;
}

.header__panel .nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/* topBanner__decor ***********/

.topBanner {
  margin-bottom: 2.6%;
}

.topBanner__decor {
  padding: 100px 80px;

  min-height: 420px;
  border-radius: 32px;

  background-image: url(../img/decor-banner/banner-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; */
}

.topBanner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: white;
  max-width: 837px;
  margin-bottom: 24px;
}

.topBanner__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: white;
  max-width: 790px;
  margin-bottom: 93px;
}

.topBanner__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: white;
  word-break: normal;
  padding: 24px 40px;
  border-radius: 16px;
}

.btn {
  display: flex;
  background: #ff9900;
  word-break: break-all;
}

.topBanner__decor .bullet__svg:not(:last-child) {
  margin-right: 19px;
}

.topBanner__decor .topBanner__bullet {
  align-self: center;
  display: flex;
}

/* aboutUs *******************************/

.aboutUs__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 1.2%;
}

.aboutUs__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 32px;
  color: #000000;
  max-width: 1235px;
  margin-bottom: 2.7%;
}

.aboutUs__blockPreview {
  display: flex;
}

.aboutUs__blockPreview .decor__title {
  display: flex;
  align-items: flex-end;
  width: 868px;
  min-height: 622px;

  background-image: url(../img/Рабочий.png);
  background-repeat: no-repeat;
  border-radius: 32px;
  background-size: cover;
}

.block__text {
  padding: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  width: 100%;

  min-height: 96px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.aboutUs__blockPreview .text__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  line-height: 32px;
  max-width: 433px;
  color: white;
  margin-right: auto;
}

.text__link {
  padding: 17px 35px;
  text-align: center;
  border: 3px solid #ff9900;
  border-radius: 16px;
  font-family: "Montserrat";

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
