.aboutUs__blockPreview {
  display: flex;
}

.aboutUs__blockPreview .content__left {
  display: flex;
  align-items: flex-end;
  width: 868px;
  min-height: 622px;

  background-image: url(../img/Рабочий.png);
  background-repeat: no-repeat;
  border-radius: 32px;
  background-size: cover;

  margin-right: 30px;
}

.aboutUs__blockPreview .box__left {
  padding: 49px 50px;
  display: flex;
  align-items: center;
  width: 100%;

  min-height: 96px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.aboutUs__blockPreview .left__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  line-height: 32px;
  max-width: 433px;
  color: white;
  margin-right: auto;
}

.aboutUs__blockPreview .left__button-link {
  padding: 17px 35px;
  text-align: center;
  border: 3px solid #ff9900;
  border-radius: 16px;
  font-family: "Montserrat";

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.aboutUs__blockPreview .left__button-link:focus-visible {
  transition: var(--transition-normal);
  background: #ff9900;
  color: white;
  border: 3px solid #ff9900;
}

.aboutUs__blockPreview .left__button-link:hover {
  transition: var(--transition-normal);
  background: #ff9900;
  color: white;
  border: 3px solid #ff9900;
}

.aboutUs__blockPreview .left__button-link:active {
  color: white;
  border: 3px solid #e1670e;
  background: #e1670e;
}

/* right *****************/

.aboutUs__blockPreview .box__right {
  max-width: 872px;
  min-height: 165px;
  display: flex;
  padding: 65px 115px 63px 62px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  flex-wrap: wrap;
}

.aboutUs__blockPreview .box__right:not(:last-child) {
  margin-bottom: 32px;
}

.aboutUs__blockPreview .right__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

.aboutUs__blockPreview .right__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #000000;
}

.aboutUs__blockPreview .right__svg {
  margin-right: 50px;
}
